* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 20px;
  padding-top:10px;
}

.footer {
  background: #eee;
  text-align: center;
  padding: 16px;
}

.hero {
  height: 100vh;
  background-image: url("/hero.jpg"); /* 之后换成AI图 */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.35);
  padding: 40px;
}

.hero h1 {
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 1px;
}

.hero p {
  margin-top: 16px;
  font-size: 20px;
  opacity: 0.9;
}

.hero-btn {
  margin-top: 28px;
  padding: 12px 28px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  font-size: 18px;
  margin-top: 12px;
  color: #555;
}